.gallery {
    position: relative;
    font-family: 'Lexend Deca';
    margin-top: 100px;

    .header {
        text-align: center;
        margin-bottom: 50px;

        p {
            color: rgb(224, 164, 73);
        }

        h3 {
            font-size: 30px;
        }
    }


    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 5%;
        justify-content: center;
    }

}