@import '@styles/theme.scss';

.container {
  position: absolute;
  right: 5%;
  display: flex;
  flex-direction: row;
  max-width: 250px;
  gap: 5px;
  align-items: center;

  span {
    cursor: default;
    background: $secondary-orange-color;
    border-radius: 5px;
    padding: 5px 10px;
  }

  button {
    cursor: pointer;
    border: 0;
    background: $skeleton-bg-color;
    border-radius: 5px;
    padding: 5px 10px;

    &:hover {
      background: rgba($secondary-orange-color, 0.3);
    }
  }
}
