.container {
    position: absolute;
    z-index: 1;
    width: 100%;
    background: white;

    ul {
        border-radius: 0 0 15px 15px;
        font-family: 'Lexend Deca';
        padding: 10px 0;
        font-size: 1.5vw;
        height: fit-content;
        max-height: 200px;
        overflow-y: scroll;

        @media(max-width:1000px) {
            font-size: 2.5vw;
        }

        @media(max-width:700px) {
            font-size: 3.5vw;
        }


        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }

        &::-webkit-scrollbar-track {
            background-color: rgb(255, 255, 255);
        }

        li {
            list-style: none;
            padding: 15px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background: rgba(251, 215, 178, 0.3);
            }
        }
    }
}