@import '@styles/theme.scss';

.container {
  @include flex-col();

  .results_container {
    width: 100%;
    @include flex-col();

    .results {
      width: 60%;
      margin: 0 auto;
      font-family: $base-font-family;
      font-size: 2vw;

      > p {
        cursor: pointer;
        padding: 10px 15px;
        background: $skeleton-p-color;
        margin-top: 10px;

        &:hover {
          background: rgba($primary-color-hover, 0.3);
        }
      }
    }

    .more {
      font-family: $base-font-family;
      font-size: 2vw;
      padding: 10px 0;
      cursor: pointer;
      border: 0;
      border-radius: 30px;
      width: 30%;
      background: rgba($primary-color-hover, 0.3);

      &:hover:not(:disabled) {
        background: rgba($primary-color-hover, 0.5);
      }

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
