@import '../../styles/theme.scss';

.container {
  width: 90%;
  margin: 100px auto 0;
  font-family: $base-font-family;

  .title {
    text-align: center;

    p {
      font-size: 2vw;
      color: $primary-orange-color;
    }

    h3 {
      font-size: 5vw;
      margin-bottom: 30px;
    }
  }

  .works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px 5px;
  }
}
