$header-font-size: 2.5vw;
$span-font-size: 1.5vw;
$p-font-size: 1.5vw;

.container {
  width: 90%;
  margin: 100px auto 0;
  font-family: 'Lexend Deca';

  .title {
    text-align: center;

    p {
      font-size: 2vw;
      color: rgba(224, 164, 73, 1);
    }

    h3 {
      font-size: 5vw;
      margin-bottom: 30px;
    }
  }

  .works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px 5px;
  }
}
