@import '@styles/theme.scss';

.gallery {
  position: relative;
  font-family: $base-font-family;
  margin-top: 100px;

  .header {
    text-align: center;
    margin-bottom: 50px;

    p {
      color: $primary-orange-color;
    }

    h3 {
      font-size: 30px;
    }
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    justify-content: center;
  }
}
