.searchBlock {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-family: 'Lexend Deca';
        font-weight: 700;
        color: rgba(57, 57, 57, 1);

        width: 660px;
        font-size: 64px;
        text-align: center;
        text-transform: capitalize;
        text-wrap: wrap;
        margin-bottom: 30px;

        span {
            color: rgba(241, 121, 0, 1);
        }
    }

    .searchInput {
        position: relative;

        >div:nth-child(2) {
            position: absolute;
            top: 38px;
            left: 15px;
        }

        input {
            font-family: 'Lexend Deca';
            font-size: 20px;
            box-sizing: border-box;
            width: 660px;
            height: 60px;
            padding: 6px 85px 6px 16px;
            background: rgba(57, 57, 57, 0.05);
            border: 0;
            border-radius: 15px;
            outline: none;

            &:focus {
                border-radius: 15px 15px 0 0;
            }
        }

        button {
            outline: none;
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 95%;
            transform: translate(-50%, -50%);
            border: 0;
            background: transparent;
        }

        .clearInput {
            position: absolute;
            left: 89%;

            img {
                width: 14px;
                height: 14px;
            }
        }
    }
}

@media(max-width:700px) {
    .searchBlock {
        width: 90%;
        margin: 50px auto;

        h3 {
            width: 100%;
        }

        .searchInput {
            width: 100%;

            input {
                width: 100%;
            }

            .clearInput {
                left: 85%;
            }
        }
    }
}