.navigation {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;

    .navItem {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        img {
            width: 25px;
            height: 25px;
        }

        p {
            font-family: 'Lexend Deca';
            font-weight: 400;
            font-size: 1.5vw;
            color: white;
        }
    }

    .visibility {
        visibility: hidden;
    }

    .none {
        display: none;
    }
}