.header {
    width: 80%;
    background: linear-gradient(90deg, #343333 38.05%, #484848 69.22%, #282828 98.98%);
    display: flex;
    flex-direction: row;
    padding: 25px 10%;
    justify-content: space-between;
    align-items: center;

    @media(max-width:700px) {
        width: 90%;
        padding: 20px 5%;
    }

    >nav {
        @media (max-width:700px) {
            display: none;
        }
    }
}