@import '@styles/theme.scss';

.navigation {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;

  &.column {
    flex-direction: column;
  }

  .navItem {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    img {
      width: 25px;
      height: 25px;
    }

    p {
      font-family: $base-font-family;
      font-weight: 400;
      font-size: 1.5vw;
      color: $skeleton-bg-color;

      @media (max-width: 700px) {
        font-size: 3vw;
      }
    }
  }

  .none {
    display: none;
  }
}
