.container {
    font-family: 'Lexend Deca';
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
        font-size: 64px;
        text-transform: capitalize;

        span {
            position: relative;
            color: rgba(241, 121, 0, 1);

            &::before {
                content: '';
                bottom: 0;
                left: -20%;
                position: absolute;
                width: 60px;
                height: 75px;
                background-image: url('~/assets/header_bookmark.svg');
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        }
    }

    .wrapper {
        position: relative;
        font-family: 'Lexend Deca';
        text-align: center;

        p {
            color: rgba(224, 164, 73, 1);
        }

        h3 {
            font-size: 4vw;
        }

        .posts_container {
            width: 90%;
            margin: 0 auto;
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px 5px;
        }

        .no_favorites {
            margin-top: 20px;
            font-size: 3vw;
        }
    }
}